<!--ABOUT PAGE
Alberto Aguado-->

<h2>About</h2>

<div class="row">

	<div class="col-xs-12 col-sm-3">
		<div style=" height:250px; width:100%; background: url('images/me.jpeg'); background-size:contain; background-repeat:no-repeat; background-position: center;  margin:0 auto;"></div>
	</div>

	<div class="col-xs-12 col-sm-9"><h3>Who we are</h3>
		Aliquam lectus neque, posuere vel vestibulum id, mattis ac orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec non finibus arcu. Vestibulum in dui eget quam venenatis porttitor a vel tellus. Morbi hendrerit nisl sit amet metus cursus blandit. Nam tristique congue nulla, quis vulputate metus laoreet vel. Aliquam erat volutpat. Fusce a justo nec augue condimentum mattis a a arcu. Suspendisse sollicitudin, tellus et ullamcorper placerat, massa ex convallis massa, eget gravida massa arcu vitae lorem. Aenean et finibus massa, posuere ornare metus. Vivamus fringilla congue condimentum. Nunc maximus leo dui. Nulla id venenatis lacus. Donec luctus ex vitae diam ornare blandit. Aliquam faucibus porttitor ligula, vel volutpat magna facilisis nec.
	</div>

	</div> 

<div class="row">

	<div class="col-xs-12 col-sm-3 col-sm-push-9" >
		<div style=" height:250px; width:100%; background: url('images/shop.jpeg'); background-size:contain; background-repeat:no-repeat; background-position: center;  margin:0 auto;"></div>
	</div>

	<div class="col-xs-12 col-sm-9 col-sm-pull-3"><h3>What we do</h3>
		Nulla scelerisque justo eu turpis eleifend, vel bibendum erat sollicitudin. Vivamus eu pellentesque sem. Nulla non leo ac lectus ultrices molestie. Sed varius ipsum feugiat eleifend pellentesque. Fusce facilisis purus maximus felis fermentum cursus. Proin non quam consectetur erat blandit eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ornare felis nisi. Aenean sodales elit eu libero euismod, pellentesque mollis ante porta. Aliquam mauris elit, rhoncus vel lacus tristique, sagittis ullamcorper augue. Curabitur tincidunt lacus at eros facilisis, in posuere enim bibendum. Pellentesque lacinia luctus interdum. Suspendisse venenatis sapien sed blandit placerat. Integer imperdiet nisi enim, vitae vestibulum ligula dictum sit amet.
	</div>



	</div> 

<div class="row">

	<div class="col-xs-12 col-sm-3">
		<div style=" height:250px; width:100%; background: url('images/map.jpeg'); background-size:contain; background-repeat:no-repeat; background-position: center;  margin:0 auto;"></div>
	</div>

	<div class="col-xs-12 col-sm-9"><h3>Where we are</h3>
		Suspendisse libero nunc, mollis ut massa ut, condimentum pellentesque nulla. Duis tempor sodales mauris, id tincidunt quam ultrices vel. Fusce egestas dui at sem finibus convallis. Praesent non tortor et risus vestibulum gravida in eget arcu. Aenean interdum convallis nisl at feugiat. Donec elit odio, ullamcorper vel risus ac, porta congue ex. Integer interdum mauris sit amet turpis ultricies molestie. Quisque vel semper arcu. Aenean a nisl turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam egestas neque id tristique dictum. Sed pellentesque finibus finibus. Cras aliquet, enim non accumsan venenatis, lectus metus rutrum tortor, scelerisque posuere risus ex nec lacus. Etiam ultricies eu neque nec pellentesque. Proin at sapien elementum, mattis est nec, varius quam.
	</div>

</div>